<div class="container">
      <div class="row">
        <div class="col-100">
          <h1 class="button-and-title">
            <span>Nuevo Cliente</span>
            <button routerLink="/clientes">Volver atrás</button>
          </h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="form" (ngSubmit)="enviarCliente()">
            <div class="row">
                <div class="col-100">
                    <label>
                        Nombre del cliente
                        <span class="danger" *ngIf="form.controls?.['nombre']?.invalid"> Obligatorio</span>
                    </label>
                    <input type="text" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>
                        Cif
                        <span class="danger" *ngIf="form.controls?.['cif']?.invalid"> Obligatorio (9 caracteres)</span>
                    </label>
                    <input type="text" formControlName="cif">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Dirección</label>
                    <input type="text" formControlName="direccion">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Localidad</label>
                    <input type="text" formControlName="localidad">
                </div>
            </div>
            <div class="row">
                <div class="col-100 flex j-center">
                    <button [disabled]="form.invalid" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

